* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
}

ul {
  list-style-type: none;
}


img {
  max-width: 100%;
}

button {
  width: 110px;
  padding: 8px 0;
  outline: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  border-radius: 8px;

}

.navbar {
  background-color: #1F2937;
  min-height: 20px;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-top: 8px;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 15px;
}

.navbar a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.navbar a:hover {
  color: #fff;
}

.header {
  background-color: #1F2937;
  min-height: 400px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.header img {
  max-width: 450px;
}

.header .hero-text {
  max-width: 500px;
}

.header .lead-text {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
  line-height: 1.2;
}

.header .quote-text {
  font-size: 18px;
  color: #E5E7EB;
  margin: 10px 0;
}

.header button {
  background-color: #3882F6;
  border: none;
  color: #fff;

}

.header button:hover {
  transform: scale(0.9);
  transition: 0.5s ease;
}